* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Responsive Utilities */
.hide-on-desktop{
    display: none !important;

  }

@media (max-width: 1024px) {
  .responsive-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .hide-on-mobile {
    display: none !important;
  }
  
  .show-on-mobile {
    display: block !important;
  }
  .show-flex-on-mobile {
    display: flex !important;
  }
  .mobile-padding {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .hide-on-desktop{
    display: none !important;

  }
}

@media (max-width: 768px) {
  .responsive-grid {
    grid-template-columns: 1fr !important;
  }
  .responsive-flex {
    flex-direction: column !important;
  }
  .responsive-flex-reverse {
    flex-direction: column-reverse !important;
  }
  .mobile-padding {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .mobile-text-center {
    text-align: center !important;
  }
  .mobile-w-full {
    width: 100% !important;
  }
  .mobile-col-gap-lg {
    gap: 32px !important;
  }
  .mobile-col-gap-sm {
    gap: 16px !important;
  }
  .mobile-p-sm {
    padding: 32px 16px !important;
  }
  .mobile-pt-sm {
    padding-top: 32px !important;
  }
  .mobile-pb-sm {
    padding-bottom: 32px !important;
  }
  .mobile-items-center {
    align-items: center !important;
  }
  .hide-on-desktop {
    display: block !important;
  }
}
